html,
body,
.section-images {
  height: 100%;
  margin: 0;
}
.section-images {
  margin: auto 2em;
  text-align: center;
}
img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 90%;
  margin: 20px auto;
  opacity: 0.2;
}
h1 {
    font-family: 'Fira Sans Condensed', sans-serif;
    align-self: center;
    text-align: center;
}
body {
    background-color: #ff6ea1;
    font-family: 'Fira Sans Condensed', sans-serif;
    align-self: center;
}

.bg {
  /* The image used */
  background-image: url("love.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
